.requestVoice {
  display: flex;
  flex-direction: column;
  font-family: "MTSSansRegular";
  .requestVoice__body {
    margin: auto;
    font-size: 18px;
    line-height: 1.1;
  }
  .requestVoice__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    gap: 8px;
  }
}
