* {
  margin: 0;
  box-sizing: border-box;
}

html {
  display: table;
}

body {
  display: table-cell;
  overflow: hidden !important;
  max-width: 100vw;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:focus-visible {
  outline: 1px solid red;
}

@import "colors";
@import "typography";
@import "shared/buttons";
