html {
  display: table;
}

body {
  display: table-cell;
  overflow-x: hidden !important;
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:focus {
  outline: 1px solid red;
}

@import "colors";
@import "typography";
