@font-face {
  font-family: "MTSSansRegular";
  src: url("./assets/fonts/MTSSans-Regular__W.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MTSSansBold";
  src: url("./assets/fonts/MTSSans-Bold__W.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MTSSansMedium";
  src: url("./assets/fonts/MTSSans-Medium__W.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MTSSansMedium";
}

* {
  line-height: 1;
}

button {
  font-family: "MTSSansMedium";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MTSSansBold";
}
