.videoPageWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0 24px;
  padding-top: 20px;
  .videoPage {
    margin: auto;
    width: 100%;
    height: fit-content;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-columns: 1fr 300px;
    // gap: 16px;
    .videoPage__video {
      max-width: 100%;
      width: 100%;
      box-shadow: 0 0 24px 0px rgba(255, 255, 255, 0.15);
      border-radius: 6px;
    }
    .videoPage__controls {
      display: flex;
      width: 100%;
    }
  }
  .videoHeightMeasurer {
    display: none;
  }
  // .helperTextWrapper {
  //   height: 100%;
  // }
}

@media screen and (max-width: 600px) {
  .videoPageWrapper .videoHeightMeasurer {
    display: block;
  }
  .videoPageWrapper {
    padding-inline: 12px;
    .videoPage {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }
}
