.voiceToast {
  position: absolute;
  z-index: 1;
  right: 24px;
  top: calc(72px + 24px);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-medium);
  padding: 16px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in;
  transform: translateX(0);

  width: 350px;
  min-height: 64px;
  border-radius: 8px;
  .voiceToast__body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    .voiceToast__text {
      flex: 1;
      overflow: hidden;
      word-wrap: break-word;
    }
    .voiceToast__checkmarkWrapper {
      margin-left: auto;
      width: 32px;
    }
  }
  &.hidden {
    transform: translateX(calc(100% + 24px));
  }
  &.closing {
    color: var(--text-lightest);
  }
}
