.videoWrapper {
  width: 100%;
  position: relative;
  .playerContainer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16 / 10;
    .player {
      pointer-events: none;
      object-fit: contain;
      width: 100%;
      // min-height: 600px;
      // max-height: 60vh;
    }
  }
  &:fullscreen {
    .playerContainer {
      width: 100vw;
      height: 100vh;
      .player {
        max-height: none;
        height: 100vh;
        width: 100%;
      }
    }
  }
  .overlay {
    z-index: 2;
    bottom: 0;
    height: 45px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    // bg
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
      width: 100%;
      aspect-ratio: 6 / 1;
      z-index: -1;
      pointer-events: none;
    }
    // timeline
    .timelineContainer {
      height: 7px;
      display: flex;
      align-items: center;
    }
    .timeline {
      background-color: rgba(100, 100, 100, 0.5);
      height: 3px;
      width: calc(100% - 20px);
      margin: 0 10px;
      position: relative;
      transition: height 0.1s ease-out;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: calc(100% - var(--preview-position) * 100%);
        background-color: rgb(96, 96, 96);
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: calc(100% - var(--progress-position) * 100%);
        background-color: var(--primary);
      }
      .thumbIndicator {
        --scale: 0;
        position: absolute;
        transform: translateX(-50%) scale(var(--scale));
        height: 200%;
        top: -50%;
        left: calc(var(--progress-position) * 100%);
        background-color: red;
        border-radius: 50%;
        transition: transform 150ms ease-in-out;
        aspect-ratio: 1 / 1;
        pointer-events: none;
      }
      &:hover {
        height: 100%;
        &::before {
          display: block;
        }
        .thumbIndicator {
          --scale: 1;
        }
      }
    }
    // controls
    .playbackControls {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      .left,
      .right {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .playbackButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;
        color: var(--text-light);
        cursor: pointer;
        border-radius: 50%;
        svg {
          width: 24px;
          height: 24px;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          color: var(--primary);
        }
      }
    }
  }
  &:hover,
  &:focus-within {
    .overlay {
      opacity: 1;
    }
  }
}
