.accessibilityControls {
  width: 100%;
  background-color: var(--bg-secondary);
  padding: 16px 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  .option {
    display: flex;
    align-items: center;
    gap: 12px;

    .option__body {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .option__title,
    .option__value {
      user-select: none;
    }
    .option__title {
      display: flex;
      justify-content: space-between;
      align-items: end;
      p {
        margin-bottom: 6px;
      }
    }
    .option__reset {
      padding: 0;
      background: transparent;
      color: var(--text-light);
      border: none;
      width: 24px;
      height: 24px;
      svg {
        width: 20px;
        height: auto;
      }
      &:hover {
        cursor: pointer;
        color: var(--primary);
      }
    }
    .option__value {
      font-size: 14px;
      font-family: "MTSSansRegular";
      color: var(--text-medium);
      margin-bottom: 5px;
    }
    .option__radio {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      input[type="radio"] {
        display: none;
      }
      label {
        width: 100%;
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 0;
        line-height: 18px;
        user-select: none;
        font-family: "MTSSansRegular";
        &::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 1px;
          // resize ./assets/radio.svg to 20px
          background: url("./assets/radio-off.svg") no-repeat;
        }
      }
      input[type="radio"]:checked + label:before {
        background: url("./assets/radio-on.svg") no-repeat;
      }
    }
  }
  @media screen and (max-width: 600px) {
    padding: 0;
    border: none;
    background: none;
  }
}
