.accessibilityControls {
  width: 100%;
  background-color: var(--bg-secondary);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  .option {
    display: flex;
    flex-direction: column;
    .option__title,
    .option__value {
      user-select: none;
    }
    .option__title {
      margin-bottom: 6px;
    }
    .option__value {
      font-size: 14px;
      font-family: "MTSSansRegular";
      color: var(--text-medium);
    }
  }
  @media screen and (max-width: 600px) {
    padding: 0;
    border: none;
  }
}
