.btn {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  box-sizing: border-box;
  &.accent {
    background: transparent;
    border: 1px solid var(--text-medium);
    color: var(--text-light);
    transition: background 0.1s ease-in-out;
    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.15);
      color: var(--text-lightest);
    }
  }
  &.primary {
    background-color: var(--primary);
    color: var(--text-light);
    &:hover,
    &:focus {
      color: var(--text-lightest);
    }
  }
  &:focus {
    outline: none;
  }
}
