.nav__wrapper {
  display: flex;
  background-color: var(--bg-primary);
  align-items: center;
  justify-content: center;
  height: 72px;
  padding-inline: 24px;
  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    .nav__logo {
      margin-right: 16px;
    }
  }
  .nav__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    .profile {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: var(--text-light);
      cursor: pointer;
      .profile__avatar {
        margin-right: 8px;
      }
      &:hover {
        color: var(--text-lightest);
      }
    }
  }
}
