.nav__wrapper {
  display: flex;
  background-color: var(--bg-secondary);
  align-items: center;
  justify-content: center;
  height: 72px;
  padding-inline: 24px;
  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    .nav__logo {
      margin-right: 16px;
    }
    .nav__skipLink {
      color: var(--primary);
      z-index: 1;
      width: 0;
      overflow: hidden;
      &:focus {
        width: auto;
      }
    }
    .nav__items {
      margin-left: 16px;
      display: flex;
      gap: 16px;
      .nav__item {
        color: var(--text-lightest);
        text-decoration: none;
        font-size: 18px;
        &.active {
          color: red;
        }
      }
    }
  }
  .nav__right {
    margin-left: auto;
    display: flex;
    align-items: center;
    .search {
      position: relative;
      width: 100%;
      margin-right: 16px;
      color: var(--text-medium);
      margin-top: 2px;
      .search__icon {
        position: absolute;
        top: 9px;
        left: 12px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .search__input {
        padding: 12px;
        padding-left: 46px;
        font-size: 18px;
        background-color: transparent;
        box-sizing: border-box;
        outline: none;
        color: var(--text-light);
        background-color: var(--bg-primary);
        border: none;
        border-radius: 12px;
        width: 100%;
        transition: border-color 0.3s ease;
        &:focus {
          border: 2px solid var(--color-accent-1);
        }
        &::placeholder {
          color: var(--text-medium);
        }
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
    .voiceStatus {
      display: flex;
      transition: color 0.25s ease-out;
      margin-right: 16px;
      align-items: center;
      gap: 8px;
      .voiceStatus__text {
        font-family: "MTSSansRegular";
      }
      .voiceStatus__icon {
        width: 32px;
        height: auto;
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        color: var(--primary);
      }
    }
    .profile {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: var(--text-light);
      cursor: pointer;
      .profile__avatar {
        margin-right: 8px;
        width: 32px;
        height: auto;
      }
      &:hover {
        color: var(--text-lightest);
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .nav__wrapper {
    .nav {
      .nav__items {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav__wrapper {
    padding-inline: 12px;
    .nav {
      .nav__logo {
        display: none;
      }
    }
    .nav__right {
      width: 100%;
      .search {
        width: 100%;
        margin-right: 12px;
      }
      .voiceStatus {
        margin-right: 12px;
      }
      .profile {
        .profile__avatar {
          margin-right: 0;
        }
        .profile__text {
          display: none;
        }
      }
    }
  }
}
